body{
    box-sizing: border-box;
    background-color: black;
}
*{
    margin: 0;
}
.img1{
    width: 100%;
    height: 500px;
    background-image: url(images/img1.jpg);
    /*div ko size ma milaunxa background size cover garyo vanye*/
    background-size: cover;
    /* image sano vayo vanye repeat hunxa tyo milauna lai repeat none rakni*/
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2{
    background-image: url(images/img2.jfif);
    /*div ko size ma milaunxa background size cover garyo vanye*/
    background-size: cover;
    /* image sano vayo vanye repeat hunxa tyo milauna lai repeat none rakni*/
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img3{
    background-image: url(images/img3.jfif);
    /*div ko size ma milaunxa background size cover garyo vanye*/
    background-size: cover;
    /* image sano vayo vanye repeat hunxa tyo milauna lai repeat none rakni*/
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.img2,
.img3{
height: 40vh;
}
.hero{
background-color: black;
color: white;
 width: 60%;
 padding: 50px;
 /* opacity le transparent banauxa but 1 vanda less dena parxa tesko lagye*/
 opacity: 0.5;
}
section {
    padding: 2rem;
}
.sec1,
.sec2,
.sec3 {
    background-size: rgb(20, 18, 18);
    color: whitesmoke;
}
.title {
    background-color: rgb(26, 22, 22);
    font-size: 3rem;
    padding: 20px 30px;
    color: whitesmoke;
    opacity: 0.5;
   text-transform: uppercase;
   /* gap create garxa text ma */
    letter-spacing: 1rem;

}

.img1,
.img2,
.img3{
    /* images lai fixed tauma rakxa ani text scroll garda text move hunxa tara image hunna */
    background-attachment: fixed;
}
.down-arrow{
    font-size: 100px;
    color: white;
    font-weight: bolder;

    position: absolute;
    bottom: 100px;
    /* rotate garxa clockwise */
    transform: rotate(90deg);
    /* animation lai chai 1000 microsec samma run garxa / hamle jati deyeni hunxa ms */
    animation: bounce 1000ms infinite;
}
/* yo aauta key ho yesle chai animation run garauxa /bounce ko tauma j name deye hunxa */
@keyframes bounce{
    0%{
        bottom: 100px;
    }
    100%{
        bottom: 10px;
    }
}